@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #293161;
  --btn: #3673fd;
  --bgSoft: #2d2b42;
  --textSoft: #dbebff;
  --bgGradient: linear-gradient(100deg, rgb(194, 204, 229) 0%, rgb(207, 178, 220) 54%, rgb(138, 163, 188) 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  padding: 0 70px;
}