@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fee8ff;
  --text: white;
  --btn: #3673fd;
  --bgSoft: #2d2b42;
  --textSoft: #e5e5e5;
  --bgGradient: linear-gradient(145deg, rgba(212, 220, 241, 1) 0%, rgba(225, 208, 238, 1) 54%, rgba(207, 231, 255, 1) 100%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  background: var(--bgGradient);
  color: var(--text);
}

